// Specific CSS for your home-page
.pages-home {
  // background-image: url("home-picture.jpg");
}

.banner {
  background-size: cover;
  background-position: center;
  height: 84vh;
  .banner-text {
    padding: 16% 0;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px black;
}

.donate-button {
  color: white;
  &:hover {
    color: white;
  }
}

.home-volunteering {
  background: linear-gradient(0.49turn, rgb(255, 240, 240), rgba(rgb(255, 140, 140), 0.4));
}

.info-cards {
  width: 100%
}
.info-card {
  border: 1px solid grey;
  width: 30%;
  padding: 16px;
  text-align: center;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
}

.home-page-icon {
  font-size: 36px;
}
