<div class="about-us-top">
  <%= render "shared/navbar" %>
  <h3 class="text-center mt-4 about-us-title">About Us</h3>
</div>
<div class="bottom-wrapper">
  <div class="about-us-bottom-wrapper">
    <%= image_tag "about_us_image", class: "about-us-image" %>
    <p class="about-us-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, qui unde dolore sint alias debitis rerum itaque repudiandae harum non aliquid necessitatibus facilis mollitia ad molestiae. Quidem saepe eligendi nobis! <br><br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius commodi eos placeat sint? Corporis, dicta rerum! Saepe, error doloremque. Saepe nisi vero a aspernatur eum? Sit, tempore similique. Temporibus, incidunt. <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore harum temporibus repellat! Ea, fuga voluptas aperiam cumque, labore iste, culpa dolores laborum aut minima est autem voluptate hic quo obcaecati?
    </p>
  </div>
</div>
