.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.profiler-results{
  display: none;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  border-bottom: 3px solid transparent;
  padding: 0!important;
  &:hover {
    color: white;
    border-bottom: 3px solid red;
  }
}
